html {
box-sizing:border-box;
-webkit-text-size-adjust:100%;
}

*,*:before,*:after {
box-sizing:border-box;
}

body {
margin:0;
font-family:"Comic Sans Ms";
}

.cont:before,.cont:after {
content:"";
display:table;
clear:both;
}

.head1 {
width:100%;
min-height:100vh;
background-color:#000000;
}

.t1 {
width:100%;
color:#FFFFFF;
text-align:center;
padding:10px;
}

.sp1 {
font-family:Raleway,"Comic Sans Ms";
font-size:18px;
}

.sp2 {
font-size:15px;
}

.im1 {
width:150px;
margin-left:auto;
margin-right:auto;
padding-bottom:30px;
}

img {
width:100%;
border-radius:200px;
}

.st1 {
cursor:pointer;
width:100%;
text-align:center;
color:#E5DFE3;
font-size:200%;
padding:60px 20px;
-webkit-user-select:none;
}

.per1 {
text-align:center;	
width:100%;
color:black;
background-color:#FFFFFF;
padding:40 10px;
}

.head2 {
background-color:#940D0D;

}

.det1 {
display:block;	
color:black;
background-color:#FAF4F4;
padding:40px 10px;
font-size:18px;
text-align:center;
}

.head3 {
background-color:#8D0F80;
}
.head4 {
background-color:#044392;
}

.res1{
display:display;
overflow-x:auto;
}

.tab1 {
text-align:center;
border-collapse:collapse;
border-spacing:0;
width:100%;
display:table;
}

.tab1 td  {
padding:20px 10px;
}

.head5 {
background-color:#049E0E;
}
.head6 {
background-color:#89049E;
}
.head7 {
background-color:#9E6D04;
}
.head8 {
background-color:#9E0435;
}

.head9 {
text-align:center;
font-size:40px;
padding:60px 10px;
color:#E5DFE3;
background-color:#0B0505;
}